<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean name="ticketManager" class="com.springapp.di.constructordi.TicketManager">
       <constructor-arg ref="flightTicket"/>
   </bean>
   
   <bean name="flightTicket" class="com.springapp.model.FlightTicket">
      <constructor-arg index="0" value="1234"/>
      <constructor-arg type="java.util.Date" ref="date"/>
      <constructor-arg name="flightNumber" value="320"/>
      <constructor-arg value="Gurunath Joshi"/>
  </bean>
   

	<bean name="date" factory-bean="dateFormat" factory-method="parse">
		<constructor-arg value="2014-01-30 10:30" />
	</bean>

   
   	<bean name="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd hh:mm" />
	</bean>

</beans>  
