<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	 
	 
	<bean id="loginDao" 
                class="com.mvc.dao.LoginDAO" >
   		<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean> 
   	
   	<bean id="insertDao" 
                class="com.mvc.dao.InsertDAO" >
   		<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
   	
   	<bean id="selectDao" 
                class="com.mvc.dao.SelectDAO" >
   		<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
   	
</beans>
