<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<img src="app/images/userlogo.png" class="logo"></img> <a
				class="navbar-brand" href="#">USER PORTAL</a>
		</div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right padding-logout">
				<li style="display: inline-block;">Welcome Anand</li>
				<li><a href="#" style="display: inline;">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container header-margin">
	<div class="row">
		<div class="col-xs-12">
			<div class="card hovercard">
				<div class="card-background">
					<img class="card-bkimg" alt=""
						src="http://lorempixel.com/100/100/people/9/">
					<!-- http://lorempixel.com/850/280/people/9/ -->
				</div>
				<div class="useravatar">
					<img alt="" src="http://lorempixel.com/100/100/people/9/">

				</div>
				<div class="card-info">
					<span class="card-title">Casey Anderson</span>
				</div>
				<img src="app/images/icon_upload.png"
					style="border: 0 none; height: 35px; width: 35px;"></img>
			</div>
			<div class="btn-pref btn-group btn-group-justified btn-group-lg"
				role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" id="stars" class="btn btn-primary"
						href="#tab1" data-toggle="tab">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<div class="hidden-xs">Personal</div>
					</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" id="favorites" class="btn btn-default"
						href="#tab2" data-toggle="tab">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<div class="hidden-xs">Educational</div>
					</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" id="following" class="btn btn-default"
						href="#tab3" data-toggle="tab">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<div class="hidden-xs">Profile</div>
					</button>
				</div>
			</div>
			<div class="well ">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<div class="row">
							<div class="col-md-offset-1 col-xs-11">
								<div class="text-right">
									<button type="button" id="following" class="btn btn-default"
										href="#tab1" data-toggle="tab">
										<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									</button>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<h4>Date of Birth</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-12">
										<div class="padding-text">23 Mar 1987</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<h4>Gender</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-12">
										<div class="padding-text">Female</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<h4>Mobile</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-12">
										<div class="padding-text">9388768387</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<h4>Current Address</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-12">
										<div class="padding-text">PANCHSHIL REALTY ,20th Floor,
											Express towers, Nariman Point, Mumbai - 400 021 (INDIA).</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<h4>Permanent Address</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-12">
										<div class="padding-text">PANCHSHIL REALTY ,20th Floor,
											Express towers, Nariman Point, Mumbai - 400 021 (INDIA).</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="tab2">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-6 col-md-6">
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12"
											style="display: inline-block">
											<div class="row">
												<div class="col-md-10 col-sm-10">
													<h4 style="display: inline-block">MCA, Computers</h4>
												</div>
												<div class="col-md-2 col-sm-2">
													<span class="text-right" style="display: inline-block"><button
															type="button" id="following" class="btn btn-default"
															href="#tab2" data-toggle="tab">
															<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
														</button></span>

												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
											Pune University
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											2002, Full Time</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-6">
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12"
											style="display: inline-block">
											<div class="row">
												<div class="col-md-10 col-sm-10">
													<h4 style="display: inline-block">B.Sc., Electronics</h4>
												</div>
												<div class="col-md-2 col-sm-2">
													<span class="text-right" style="display: inline-block">
														<button type="button" id="following"
															class="btn btn-default" href="#tab2" data-toggle="tab">
															<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
											Pune University
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											2002, Full Time</div>
									</div>
								</div>
								<div class="col-xs-12 hr-education"></div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-6">
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12"
											style="display: inline-block">
											<div class="row">
												<div class="col-md-10 col-sm-10">
													<h4 style="display: inline-block">HSC</h4>
												</div>
												<div class="col-md-2 col-sm-2">
													<span class="text-right" style="display: inline-block">
														<button type="button" id="following"
															class="btn btn-default" href="#tab2" data-toggle="tab">
															<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
											Pune University
										</div>
									</div>
									<div class="row">
										<div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12">
											2002, Full Time</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="tab3">
						<div class="row">
							<div class="col-md-offset-1 col-xs-11">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Company Name</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="row">
											<div class="col-md-10 col-sm-6 col-xs-6">
												<div class="padding-text">Cybage pvt.ltd.</div>
											</div>
											<div class="col-md-2 col-sm-6 col-xs-6">
												<button type="button" id="following" class="btn btn-default"
													href="#tab3" data-toggle="tab">
													<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>From Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">03 Mar 2013</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>To Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">Till date</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Designation</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">Software Engineer</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 hr-education"></div>
						<div class="row">
							<div class="col-md-offset-1 col-xs-11">

								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Company Name</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="row">
											<div class="col-md-10 col-sm-6 col-xs-12">
												<div class="padding-text">Persistent System</div>
											</div>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<button type="button" id="following" class="btn btn-default"
													href="#tab3" data-toggle="tab">
													<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>From Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">01-Jan-2010</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>To Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">02-Mar-2013</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Designation</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">Software Engineer</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 hr-education"></div>
						<div class="row">
							<div class="col-md-offset-1 col-xs-11">

								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Company Name</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="row">
											<div class="col-md-10 col-sm-6 col-xs-12">
												<div class="padding-text">Tata Consultancy Services</div>
											</div>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<button type="button" id="following" class="btn btn-default"
													href="#tab3" data-toggle="tab">
													<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>From Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">01 Mar 2007</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>To Date</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">31 Dec 2009</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6">
										<h4>Designation</h4>
									</div>
									<div class="col-md-9 col-sm-6 col-xs-6">
										<div class="padding-text">Software Engineer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>