<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="t" class="beans.TestSetterDependency" scope="prototype">
	    <constructor-arg value="26" type="int" index="1"/>
	    <constructor-arg value="vikhyat.kaushik@gmail.com" type="java.lang.String" index="2"/>
	    <constructor-arg value="vikhyat" type="java.lang.String" index="0"/>
	</bean>
</beans>