<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean id="t" class="beans.TestCollections" scope="prototype">
	    <property name="fruits">
	        <util:list list-class="java.util.Vector">
	            <value>Apple</value>
	            <value>Mango</value>
	        </util:list>
	    </property>
	    <property name="cricketers">
	        <util:set set-class="java.util.TreeSet">
	            <value>Sachin</value>
	            <value>Sehwag</value>
	        </util:set>
	    </property>
	    <property name="cc">
	        <util:map map-class="java.util.Hashtable">
	            <entry key="India" value="New Delhi"></entry>
	            <entry key="Russia" value="Moscow"></entry>
	        </util:map>
	    </property>
	  </bean>
</beans>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="t" class="beans.TestCollections" scope="prototype">
	    <property name="fruits">
	        <list>
	            <value>Apple</value>
	            <value>Mango</value>
	        </list>
	    </property>
	    <property name="cricketers">
	        <set>
	            <value>Sachin</value>
	            <value>Sehwag</value>
	        </set>
	    </property>
	    <property name="cc">
	        <map>
	            <entry key="India" value="New Delhi"></entry>
	            <entry key="Russia" value="Moscow"></entry>
	        </map>
	    </property>
	</bean>
</beans> -->